/**
  @author zhuliang
  @date 2018/10/30 10:18 AM
*/

@import '../../../styles/globalscss';
.housing-map-content {
  h1 {
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }
  .bm-view{
    width: 100%;
    height: vm(180);
  }
  ul {
    display: flex;
    margin-bottom: vm(8);
    li {
      cursor: pointer;
      flex: 1;
      color: #858585;
      font-size: 13px;
      span {
        display: inline-block;
        padding: vm(10) 0;
      }
      &.active {
        color: #0291D8;
        span {
          border-bottom: vm(2) solid #0291D8;
        }
      }
    }
  }
}
