@import '../../styles/globalscss';

#index-content {
  position: relative;
  overflow: hidden;
  .introduce-content {
    padding: vm(10) vm($padding-width) vm(20);
  }
  .wrapper {
    height: calc(100vh - 15vmin);
  }
  .drop-down {
    top: vm(44);
  }
}
