@import "../../../styles/globalscss";

.free-professional-transfer {
    border-bottom:  vm(1) solid rgba(126, 125, 125, 0.27);
    padding-bottom: 20px;
    .free-car {
        font-size: vm(16);
        color: #333333;
        line-height: vm(23);
        span {
            font-weight: 600;
        }
    }
    .appointment-count {
        font-size: vm(10);
        color: #858585;
        line-height: vm(16);
        margin-top: vm(10);
        span {
            color: #ff0000;
        }
    }
}